@import 'mixins.scss';

* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }
body, input, select, textarea, button { font-size: 14px; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

::-moz-selection { background: #FF5E99; color: #fff; text-shadow: none; }
::selection { background: #FF5E99; color: #fff; text-shadow: none; }

img { -ms-interpolation-mode: bicubic; }
strong { font-weight: bold; }
em { font-style: italic; }
button { cursor: pointer; }

/* Clearfix: */
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .group { height: 1%; } //IE6
*:first-child+html .group { min-height: 1px; } //IE7
/* End clearfix */

button { border: 1px solid #767676; border-top-color: #7D7D7D; border-bottom-color: #707070; @include background-y(#EFEFEF, #BFBFBF, #D1D1D1); cursor: pointer; @include box-shadow(inset 0 1px #F5F5F5); @include border-radius(4px); padding: 0 4px 1px; @include text-shadow(0 -1px rgba(255, 255, 255, 0.5)); }
select { border: 1px solid #767676; }

header {
	height: 30px; @include background-y(#D4D4D4, #ADADAD, #B8B8B8); color: #333; @include text-shadow(0 1px rgba(255, 255, 255, 0.3)); @include box-shadow(inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px rgba(255, 255, 255, 0.3)); border-bottom: 1px solid #686868; position: relative; z-index: 10000;

	h1 { float: left; font-size: 22px; margin: 1px 0 0 10px; }

	menu#global-toolbar {
		list-style: none; float: right; margin: 4px 10px 0 0;

		li {
			float: left; margin: 0 0 0 10px;

			button { padding: 2px 8px; font-weight: bold; color: #333; font-size: 12px; }
		}
	}
}

body { background: #f4f4f4; overflow: hidden; }

div#rendering-container {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-top: 30px; overflow: hidden;

	div#inner {
		position: absolute;

		div.cursor { background-repeat: no-repeat; border: 1px solid #0d0; position: absolute; @include opacity(0.5); z-index: 9998; }

		div#level-container, div#level-container * { pointer-events: none; }
		div#level-container {
			border: 1px dashed #aaa;

			div.cider-map > div { background-repeat: no-repeat; position: absolute; }
		}
	}
}

div#tile-picker {
	display: none; background: rgba(255, 255, 255, 0.8); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999;

	div.inner {
		position: absolute;

		div.cursor { background-repeat: no-repeat; border: 1px solid #0d0; @include opacity(0.8); position: absolute; }

		div.delete {
			display: block; position: absolute; top: 0; background: url("img/delete.png"); background-size: 100% 100%;

			&:hover { border: 1px solid #0d0; }
		}
	}
}

aside {
	position: absolute; top: 0; right: 0; padding-top: 36px; width: 180px; height: 100%; color: #333; border-left: 1px solid #B1B1B1; @include background-y(#E8ECF1, #D5DBE3, #E1E5EB); z-index: 9999;

	h2 { color: #717E8B; text-transform: uppercase; font-size: 12px; padding: 6px 10px 2px; @include text-shadow(0 1px #fff); }

	ul.options-container {
		li {
			list-style: none; margin-top: 9px;

			&:first-child { margin-top: 0; }

			div.key { font-size: 12px; margin-top: 2px; float: left; text-align: right; width: 51px; }
			div.val {
				float: right; width: 95px;

				input, select { display: block; width: 100%; border: 1px solid #C7CED6; @include border-radius(3px); font-size: 13px; }
				input { padding: 1px 2px; }

				&.xy {
					label { float: left; width: 11px; padding-right: 1px; font-size: 11px; text-align: right; display: block; margin-top: 3px; }
					input { float: left; width: 36px; }
				}
			}
		}
	}

	div#level-options {
		padding: 0; border-bottom: 1px solid #C7CED6;

		ul { padding: 10px; }
	}

	div#layer-list {
		h2 {
			button#add-layer { display: block; float: right; border: 0; @include box-shadow(none); background: transparent; font-size: 16px; color: #717E8B; font-weight: bold; margin-top: -4px; }
		}

		ul {
			height: 142px; overflow-y: auto; width: 100%;

			li {
				list-style: none; padding: 5px 10px; cursor: pointer; position: relative; height: 26px;

				input[type="checkbox"] { float: left; display: block; margin: 2px 6px 0 0; }
				span.name { display: block; float: left; width: 110px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 13px; }
				button.delete { display: none; position: absolute; font-size: 12px; border: 0; @include box-shadow(none); background: transparent; top: 5px; right: 12px; color: #333; }

				&.current {
					@include background-y(#C4CCDF, #9DAAC5, #ACB8D0); color: #fff; font-weight: bold; @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.4)); border-top: 1px solid #BCC5D6; border-bottom: 1px solid #94A0B9; padding-top: 4px;

					span.name { margin-top: -1px; }
					button.delete { color: #fff; @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.4)); font-weight: bold; top: 3px; }
				}
				&:hover {
					button.delete { display: block; }
				}

				&.ui-sortable-helper {
					button.delete { display: none; }
				}
			}
		}
	}

	div#selected-options {
		margin-top: 10px; padding: 10px; border-top: 1px solid #C7CED6;

		&:empty { border-top: 0; }

		h2 { padding: 0 0 10px; }
	}
}

div.dialog-container {
	background: rgba(255, 255, 255, 0.8); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10000; display: none;

	div.inner {
		@include background-y(#D4D4D4, #ADADAD, #B8B8B8); color: #333; @include text-shadow(0 1px rgba(255, 255, 255, 0.3)); @include box-shadow(inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px rgba(255, 255, 255, 0.3)); border: 1px solid #686868; @include border-radius(4px); width: 600px; height: 400px; position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -300px; padding: 12px;

		textarea { display: block; @include border-radius(4px); width: 100%; height: 330px; border: 1px solid #686868; font-size: 14px; font-family: "Inconsolata", "Consolas", monospace; padding: 4px; resize: none; @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.3)); background: #f4f4f4; color: #333; }

		footer {
			position: absolute; width: 100%; bottom: 0; left: 0; padding: 12px;

			button { display: block; float: right; font-size: 16px; padding: 6px 18px; font-weight: bold; margin-left: 12px; }
		}
	}
}